kubectl
minikube-linux-amd64
argocd-linux-amd64
argocd-linux-amd64
argocd-linux-amd64
argocd
minikube-linux-amd64
minikube
kubectl
*.pem
*.key
**/.terraform/
*.zip
aws/
terraform-provider*
.terraform.lock.hcl
infrastructure/terraform/aws/awscliv2.zip
infrastructure/terraform/aws/.terraform/
